<!--FOOTER SECTION-->

<footer class="cust-nav">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="single-box">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Submit a Story</a></li>
                    </ul>
                </div>     
            </div>
            <div class="col-4">
                <div class="single-box">
                    <ul>
                        <li><a href="#"><p>&#169; UnityLens All Right Reserved</p></a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div> 
            </div>
            <div class="col-4">
                <div class="single-box">
                    <p class="socials">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>