<!--NewsLetter Section-->

<section>
    <div class="newsletter container text-center py-5 my-5">
        <h2>REFRAME YOUR INBOX</h2>
        <p>Subscribe to our newsletter and never miss a story.</p>
        <div class="mb-3 row">
            <label for="exampleFormControlInput1" class="form-label">Email address</label> 
            <div class="col-4 offset-4">
                <input type="email" class="col-4 form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
          </div>
          <button type="button" class="btn btn-outline-dark btn-lg">SUBSCRIBE</button>
          <p>We care about your data in our privacy policy.</p>
    </div>
</section>