{% extends 'partials/base.html' %}

{% block title %}index page{% endblock %}

{% block nav %}
{% include 'partials/nav.html' %}
{% endblock %}

{% block content %}
     <!-- Topic Section-->
     <section class="pt-5 top-section">
        <div class="container my-5 pt-5 pb-0 banna rounded-2">
            <div class="container text-center">
                <h1 class="unity">Welcome To UnityLens</h1>
                <h3>Sharing your culture to the World</h3>
            </div> 
            <div class="container text-center py-4">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-6 g-2 g-lg-3">
                  <div class="col text-filter" >
                    <a href="#">
                    <div class="custom_border p-3 post-filter">Technology</div>
                    </a>
                  </div>
                  <div class="col text-filter">
                    <a href="">
                    <div class="custom_border p-3 post-filter">Business</div>
                    </a>
                  </div>
                  <div class="col text-filter">
                    <a href="">
                    <div class="custom_border p-3 post-filter">Religion</div>
                    </a>
                  </div>
                  <div class="col text-filter">
                    <a href="">
                    <div class="custom_border d-none d-md-block p-3 post-filter">Health</div>
                    </a>
                  </div>
                  <div class="col text-filter">
                    <a href="">
                    <div class="custom_border d-none d-md-block p-3 post-filter">Sports</div>
                    </a>
                  </div>
                  <div class="col text-filter">
                    <a href="">
                    <div class="custom_border d-none d-md-block p-3 post-filter">Travel</div>
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <!--TOP STORIES-->
    <section class="pt-0 pb-5">
        <div class="container text-center">
            <h2>Top Stories</h2>
            <hr class="custom-hr border-4 opacity-100">
        </div>
    </section>
    
    <section>
        <div class="container">
            <div class="row gy-5">
                <div class="col-md-4 shadow-2">
                    <img src="/static/images/blure.jpg" class="card-img-top" alt="...">
                    <div class="card-body mt-2">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title
                            and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mb-2">Read More</a>
                    </div>
                        <img src="/static/images/citylandscape.jpg" alt="" class="profile-img">
                        <span class="profile-name">Frankie Wilson</span>
                </div>
                <div class="col-md-4">
                    <img src="/static/images/bush_river.jpg" class="card-img-top" alt="...">
                    <div class="card-body mt-2">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card 
                            itle and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mb-2">Read More</a>
                    </div>
                    <img src="/static/images/citylandscape.jpg" alt="" class="profile-img">
                    <span class="profile-name">Frankie Wilson</span>
                </div>
                <div class="col-md-4">
                    <img src="/static/images/citylandscape.jpg" class="card-img-top" alt="...">
                    <div class="card-body mt-2">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and
                            make up the bulk of the card's content.</p>
                        <a href="#" class="btn mb-2">Read More</a>
                    </div>
                    <img src="/static/images/citylandscape.jpg" alt="" class="profile-img">
                    <span class="profile-name">Frankie Wilson</span>
                </div>
                <div class="col-md-4">
                    <img src="/static/images/bush_river.jpg" class="card-img-top" alt="...">
                    <div class="card-body mt-2">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text
                            to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mb-2">Read More</a>
                    </div>
                    <img src="/static/images/citylandscape.jpg" alt="" class="profile-img">
                    <span class="profile-name">Frankie Wilson</span>
                </div>
            </div>
        </div>
    </section>

    <!--Latest Stories-->
    <section class="pt-0 pb-5">
        <div class="container text-center">
            <h2>Latest Stories</h2>
            <hr class="custom-hr border-4 opacity-100">
        </div>
    </section>

    <section class="mb-2 pb-2">
        <div class="container mb-5 pb-2">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for post in posts|slice:":6" %}
                    <a href="{% url 'blog-post-detail' post.id %}">
                        <div class="col">
                            <div class="no_border card">
                                <img src="{{ post.author.profilemodel.image.url}}" alt="..." class="no_border post-image card-img-top">
                                <div class="card_body">
                                    <h5 class="card-title">{{post.title}}</h5>
                                    <p class="card-text text-justify">{{post.content}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                </a>
            </div>
            
        </div>
        <div class="container d-flex my-2 pb-2">
            <button type="button" class="btn btn-outline-dark btn-lg mx-auto">VIEW ALL POSTS</button>
        </div> 
    </section>

    <!--Technology Section-->
    <section class="pt-0 pb-5">
        <div class="container text-center">
            <h2>Technology</h2>
            <hr class="custom-hr border-4 opacity-100">
        </div>
    </section>
    <section class="mb-5 pb-5">
        <div class="container mb-5 pb-2">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for post in tech|slice:":3" %}
                    <div class="col">
                        <div class="no_border card">
                            <img src="images/olga-guryanova-ft7vJxwl2RY-unsplash.jpg" alt="..." class="no_border post-image card-img-top">
                            <div class="card_body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container d-flex my-2 pb-2">
            <button type="button" class="btn btn-outline-dark btn-lg mx-auto">VIEW ALL POSTS</button>
        </div> 
    </section>

    <!--Lifestyle Section-->
    <section class="pt-0 pb-5">
        <div class="container text-center">
            <h2>Lifestyle</h2>
            <hr class="custom-hr border-4 opacity-100">
        </div>
    </section>
    <section class="mb-5 pb-5">
        <div class="container mb-5 pb-2">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for post in lifestyle|slice:":3" %}
                    <div class="col">
                        <div class="no_border card">
                            <img src="images/MTk1NzIyMjQwMzA0Njg2OTg3.webp" alt="..." class="no_border post-image card-img-top">
                            <div class="card_body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>     
        </div>
        <div class="container d-flex my-2 py-2">
            <button type="button" class="btn btn-outline-dark btn-lg mx-auto">VIEW ALL POSTS</button>
       </div> 
    </section>

    <!--Religion Section-->
    <section class="pt-0 pb-5">
        <div class="container text-center">
            <h2>Religion</h2>
            <hr class="custom-hr border-4 opacity-100">
        </div>
    </section>
    <section>
        <div class="container mb-5 pb-2">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for post in religion|slice:":3" %}
                    <a href="{% url 'blog-post-detail' post.id %}">
                        <div class="col">
                            <div class="no_border card">
                                <img src="images/MTk1NzIxODI3OTg3NzYxMDM1.webp" alt="..." class="no_border post-image card-img-top">
                                <div class="card_body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text text-justify">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>           
        </div>
        <div class="container d-flex my-2 pb-2">
            <button type="button" class="btn btn-outline-dark btn-lg mx-auto">VIEW ALL POSTS</button>
        </div> 
    </section>

{% endblock %}
{% block newsletter %}
{% include 'partials/newsletter.html' %}
{% endblock %}

{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}