{% extends 'partials/base.html' %}
{% block title %}Post Edit page{% endblock %}
{% load crispy_forms_tags %}

{% block nav %}
{% include 'partials/nav2.html' %}
{% endblock %}

{% block content %}
<div class="container">
   <div class="row mt-5 pt-5">
    <div class="col-lg-8 offset-md-2">
        <div class="card shadow">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-outline-dark btn-sm" type="submit" value="Save">
                </form>
            </div>
        </div>
    </div>
   </div>
</div>
{% endblock %}