{% extends 'partials/base.html' %}
{% block title %}write page{% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block nav %}
{% include 'partials/nav.html' %}
{% endblock %}
{% block content %}

<div class="write">
    <div class="container">
        <span class="text-center">
            <h1>Make a Post</h1>
        </span>
        <div class="row mt-5 pt-3">
            <div class="col-lg-6 mx-auto">
                <div class="card my-3 shadow">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-grid gap-2">
                                <button class='btn btn-dark btn-lg' type='submit' value='POST'>Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>

{% endblock %}